@CHARSET "UTF-8";

.tasksLink, .editProject, .deleteProject, .projectDrag, .deleteTask, .taskDrag {
	cursor: pointer;
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

.done {
	text-decoration: line-through;
	color: gray;
}

.bsn {
	border-style: none;
}

